// Пример для login.component.scss и register.component.scss
.form-group {
    margin-bottom: 15px;
    width: 600px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }

  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  input
   {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    background-color: rgb(150, 147, 147);;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  
    &:hover {
      background-color: #0056b3;
    }
  }
  
  a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
  }
  .tool {
    background-color: rgb(150, 147, 147);
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
  }

  span {
    font-size: 30px;
  }
  