  
  <div class="container">  <mat-toolbar color="primary">
    <div (click)="goToDashBoard()">    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>dashboard</mat-icon>
      </button>
      <span class="logo">TASK TRACKER</span></div>

    <span class="example-spacer"></span>
    <span>{{userName}}</span>
    <button (click)="goToProfile()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>person_pin</mat-icon>
    </button>
    <button (click)="logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar></div>
