.example-spacer {
    flex: 1 1 auto;
  }

  span {
    font-size: 30px;
  }
  
  .container {
    background-color: rgb(150, 147, 147);
    padding-top: 5px;
    padding-bottom: 5px;
    //color: gray;
  }