<div class="dashboard-content"><div class="task-list">  <h2>Задачи</h2> <button (click)="openCreateTaskDialog()" mat-raised-button color="primary" >Добавить задачу</button>
  <app-task-list [tasks]="filteredTasks"></app-task-list></div>

  
    <div class="team-list">
        <h2>Команды</h2><button mat-raised-button color="primary" >Добавить команду</button>
        <label for="team-search">Поиск по командам</label>
        <input id="team-search" type="text" (input)="searchTeams($event)" placeholder="Введите название команды">
        <mat-card *ngFor="let team of filteredTeams" class="team-card"  (click)="goToTeam(team.id)">
          <span>{{ team.name }}</span>
        </mat-card>
      </div>
      
  </div>
  
