<h1 mat-dialog-title>Добавить задачу</h1>
<div mat-dialog-content>
  <form [formGroup]="taskForm">
    <mat-form-field appearance="fill">
      <mat-label>Название</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Описание</mat-label>
      <textarea matInput formControlName="description"></textarea>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Статус</mat-label>
    <mat-select formControlName="status">
      <mat-option value="OPEN">OPEN</mat-option>
      <mat-option value="IN_PROGRESS">IN_PROGRESS</mat-option>
      <mat-option value="COMPLETED">COMPLETED</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Приоритет</mat-label>
    <mat-select formControlName="priority">
      <mat-option value="HIGH">HIGH</mat-option>
      <mat-option value="MEDIUM">MEDIUM</mat-option>
      <mat-option value="LOW">LOW</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Ответственный</mat-label>
    <mat-select formControlName="responsibleUserId">
      <mat-option *ngFor="let user of users" [value]="user.id">
        {{ user.username }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Команда</mat-label>
    <mat-select formControlName="teamId">
      <mat-option *ngFor="let team of teams" [value]="team.id">
        {{ team.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Дедлайн</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="deadline">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Отмена</button>
  <button mat-button color="primary" (click)="onSave()">Сохранить</button>

</div>